{% extends "base.html" %}{% load static %}
{% block title %}buono 一覧{% endblock %}
{% block header %}
	<div class="col-md-10">
	  <img alt="logo" src="{% static 'buono/images/buono-logo.png' %}">
	</div>
	<div class="col-md-2">
	  <button type="button" style="margin-top:20px" class="btn btn-sm btn-info">自分をbuono</button>
	</div>
{% endblock %}
{% block content %}
      <div class="row" style="padding-top:30px;">
	<div class="col-md-2">
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Panel title </h3>
	    </div>
	    {% for generation in generations %}
	    <div class="panel-body panel-border">
	      <a href="{% url 'listForGeneration' generation.id %}">{{generation.name }}</a>
	    </div>
	    {% endfor %}
	  </div>
	</div>
	<div class="col-md-10">
	  <table class="table">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Name</th>
		<th>Title</th>
		<th>Updated Time</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for appealPoint in appealPoints %}
	      <tr{% if forloop.counter0|divisibleby:"2" %}{% else %} class="success"{% endif %}>
		<td>1</td>
		<td>{{appealPoint.user}}</td>
		<td>{{appealPoint.title}}</td>
		<td>{{appealPoint.updTm}}</td>
		<td><button type="button" onClick="location.href='{% url 'appealPoint' appealPoint.id %}'" class="btn btn-sm btn-info">詳細</button></td>
	      </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
{% endblock %}
      <div class="row">
	<div class="col-md-12">
	  <p class="text-center">ebisol inc.</p>
	</div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
