{% extends "base.html" %}{% load static %}
{% block title %}buono 一覧{% endblock %}
{% block header %}
<div class="col-md-6">
  <a href="{% url 'index' %}">
    <img alt="logo" src="{% static 'buono/images/buono-logo.png' %}">
  </a>
</div>
<div class="col-md-4" style="text-align:right;margin-top:20px;">
  <button type="button" style="margin-right:20px" class="btn btn-sm btn-info" onClick="location.href='{% url 'appealPointUpdate' %}'">buonoを書く</button>
  <button type="button" class="btn btn-sm btn-primary" onClick="location.href='{% url 'logout' %}'">ログアウト</button>
</div>
<div class="col-md-2">
</div>
{% endblock %}
{% block content %}
      <div class="row" style="padding-top:30px;">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
	  <table class="table">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Name</th>
		<th>Updated Time</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for appealPoint in appealPoints %}
	      <tr{% if forloop.counter0|divisibleby:"2" %}{% else %} class="success"{% endif %}>
		<td>{{forloop.counter}}</td>
		<td>{{appealPoint.user.last_name}}&nbsp;{{appealPoint.user.first_name}}</td>
		<td>{{appealPoint.updTm}}</td>
		<td><button type="button" onClick="location.href='{% url 'appealPoint' appealPoint.id %}'" class="btn btn-sm btn-info">詳細</button></td>
	      </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>
	<div class="col-md-2">
	</div>
      </div>
{% endblock %}
{% block modal %}
{% endblock %}
