<!DOCTYPE html>{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>buono ログイン</title>
    <link href="{% static 'buono/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'buono/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
	<div class="col-md-12">
	  <img alt="logo" src="{% static 'buono/images/buono-logo.png' %}">
	</div>
      </div>
      <div class="row" style="margin-top:30px;">
	<div class="col-md-4">
	</div>
	<div class="col-md-3">
	  {% if form.errors  %}
	  <div class="alert alert-danger" role="alert">
	    <p>IDとパスワードが正しくないよ</p>
	  </div>
	  {% endif %}
	  <div class="panel panel-info">
	    <div class="panel-body">
	      <form method="post" action="{% url 'login' %}">{% csrf_token %}
		<div>
		  <p>ID</p>
		  <p><input id="id_username" name="username" type="text" value="" maxlength="256" placeholder="Username" aria-describedby="sizing-addon1" autofocus required/></p>
		</div>
		<div>
		  <p>Password</p>
		  <p><input id="id_password" name="password" type="password" value="" maxlength="256" placeholder="Pasword" aria-describedby="sizing-addon1" required/></p>
		</div>
		<div>
		  <button type="submit" class="btn btn-sm btn-info">login</button>
		  <input name="next" type="hidden" value="{{ next }}"/>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
	<div class="col-md-5">
	</div>
      </div>
      <div class="row" style="margin-top:80px">
	<div class="col-md-12">
	  <p class="text-center">ebisol inc.</p>
	</div>
      </div>
    </div>
    <script src="{% static 'buono/js/jquery.min.js' %}"></script>
    <script src="{% static 'buono/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'buono/js/scripts.js' %}"></script>
  </body>
</html>
