<!DOCTYPE html>{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}buono{% endblock %}</title>
    <link href="{% static 'buono/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'buono/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
	{% block header %}
	<div class="col-md-12">
	  <a href="{% url 'index' %}">
	    <img alt="logo" src="{% static 'buono/images/buono-logo.png' %}">
	  </a>
	</div>
	{% endblock %}
      </div>
      {% block content %}
      {% endblock %}
      <div class="row">
	<div class="col-md-12">
	  <p class="text-center">ebisol inc.</p>
	</div>
      {% block modal %}
      {% endblock %}
      </div>
    </div>
    <script src="{% static 'buono/js/jquery.min.js' %}"></script>
    <script src="{% static 'buono/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'buono/js/scripts.js' %}?v4"></script>
  </body>
</html>
